body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 80%;

/*	background-color: #fff;*/
	color: #333;
	margin: 0;
}

hr {
	display: none;
}

img {
	vertical-align: middle;
}

h1 {
	padding-top: 15px;
	padding-right: 10%;
	font-size: 3.5em;
	line-height: 1em;
	font-style: italic;
	margin: 0;
	float:right;
	color:#02024B;
}

#wrapper {
	width:80%;
	margin: 0 auto;
	min-width: 800px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	padding:10px;
	background-color: #ddd;
}
#header {
	height: 90px;
}
#header h2 {
	font-style: italic;
	color: #0E0E66;
	margin: 0;
}
#header #logo { 
	float: left;
}
#menu {
	height:15px;
}
#menu ul {
	padding: 0px;
	margin: 0px;
	float: right;
}
#menu ul li{
	float: left;
	list-style-type: none;
	margin: 0 5px;

}
#content {
	min-height:300px;
}
#content h2 {
	margin: 0.1em;
}
#footer { 
	width:80%;
	margin: 0 auto;
	min-width: 800px;
	padding-top: 20px;
}
#footer img { 
	height: 80px;
}
#footer h4 { 
	margin:0.5em 0;
}
#footer #athena{ 
	float: right;
}
#footer #eu{ 
	float: left;
	margin-right:20px;
}
#queryText {
	min-width: 250px;
	width: 100%;
	height: 400px;
}
#queryArea {
	min-width: 250px;
	width: 40%;
	float: left;
	margin-right: 10px;
}
#results {
	float: right;
	min-width: 450px;
	width: 58%;
}

#results textarea {
	height: 400px;
	width:99%
}

textarea.error-msg {
	color: red;
}
#loading-div {
 	display: none;
}
#loading-div-background, #loading-div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#loading-div-background{
	opacity: 0.5;
	background: black;	
}

#loading-div-inner {
	width: 300px;
	/* height: 200px;
	background-color: #0c0b0b; */
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -100px;
}
#loading-div h2{
	color:#cccccc;
}

label {
	width: 100px;
	display: block;
	float: left;
}